<script type="text/javascript">
    window.APP_DATA = <%= raw(@props) %>;

    var app = Elm.Main.fullscreen();
    if (window.APP_DATA.auth) {
        app.ports.loggedUser.send(window.APP_DATA.auth.user);
    }
</script>
